.featured-circle {
    width: 200px; /* גודל העיגול */
    height: 200px; /* גובה העיגול */
    border-radius: 50%; /* עיגול מושלם */
    overflow: hidden; /* מוודא שהתמונה תיחתך אם היא יוצאת מגבולות העיגול */
    margin-left: auto; /* דוחף את העיגול ימינה */
    margin-right: 0; /* לא שולי לימין */
}

.featured-circle img {
    height: 100%; /* מבטיח שהתמונה תמלא את העיגול */
    object-fit: cover; /* גורם לתמונה להתאים לגודל העיגול בצורה פרופורציונלית */
}