.featured-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: 0;
}

.featured-circle img {
    height: 100%;
    object-fit: cover;
}