* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    border-radius: 0; /* Remove border radius from container */
    overflow: hidden;
}

.image-section {
    width: 70%;
    background-image: url('https://cdn.pixabay.com/photo/2024/04/18/10/09/ai-generated-8704008_640.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 0;
}

.login-section {
    width: 30%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #1e90ff;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 10px;
    color: #1e90ff;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #1e90ff;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-shadow: inset 0 0 0 1px #ccc;
}
input::placeholder {
    color: #aaa;
    opacity: 1;
}


input:focus::placeholder {
    color: transparent;
}


button {
    padding: 10px;
    background-color: white;
    color: #1e90ff;
    border: 2px solid #1e90ff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #1e90ff;
    color: white;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.alert {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);
    cursor: pointer;
    color: #1e90ff;
    border solid 2px red
}

p{
margin-top :20px
}


