<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>עדכון רופא</title>
    <link rel="stylesheet" href="/static/css/function.css">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('edit_doctor_route', doctor_id=doctor.dr_id) }}" method="POST">
            <label for="doctor_name">שם הרופא:</label>
            <input type="text" id="doctor_name" name="name" value="{{ doctor.dr_name }}" required>

            <label for="seniority">ותק (שנים):</label>
            <input type="number" id="seniority" name="seniority" value="{{ doctor.dr_seniority }}" required>

            <label for="age">גיל:</label>
            <input type="number" id="age" name="age" value="{{ doctor.dr_age }}" required>

            <label for="category">קטגוריה (תחום התמחות):</label>
            <input type="text" id="category" name="category" value="{{ doctor.dr_category }}" required>

            <label for="image_url">קישור לתמונה:</label>
            <input type="url" id="image_url" name="image_url" value="{{ doctor.dr_image_url }}" required>

            <button type="submit">עדכן פרטים</button>
        </form>
    </div>
</body>
</html>
